In [2]:
import pandas as pd
import xlrd

In [3]:
df = pd.read_csv('policy.csv')

In [4]:
df

     id   age  incomepm  cancerstages  Smoking  insurance
0      1   18     30000             1        1    1000000
1      2   19     30000             1        1    1000000
2      3   20     30000             1        1    1000000
3      4   21     30000             1        1    1000000
4      5   22     30000             1        1    1000000
..   ...  ...       ...           ...      ...        ...
279  280   56     70000             2        0     500000
280  281   57     70000             2        0     500000
281  282   58     70000             2        0     500000
282  283   59     70000             2        0     500000
283  284   60     70000             2        0     500000

[284 rows x 6 columns]

In [5]:
df.columns

Index(['id ', 'age', 'incomepm', 'cancerstages', 'Smoking', 'insurance'], dtype='object')

In [6]:
X = df[['age', 'incomepm', 'cancerstages', 'Smoking']]

In [7]:
y = df['insurance']

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=1)

In [11]:
# model = LinearRegression()
# model.fit(X_train, y_train)
# model.predict([[22,10000,3,1]])

In [12]:
# model.score(X_test, y_test)

In [13]:
from sklearn.ensemble import RandomForestRegressor
rfr = RandomForestRegressor()
rfr.fit(X_train, y_train)
rfr.predict([[22,10000,3,1]])

array([201000.])

In [14]:
rfr.score(X_test, y_test)

0.9964450074025333

In [17]:
y_pred = rfr.predict(X_test)

In [19]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.9964450074025333

In [21]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)
model.predict([[22,10000,3,1]])
y_pred_for_LR = model.predict(X_test)

In [22]:
r2_score(y_test, y_pred_for_LR)

0.7468035672979783

In [23]:
X_test

     age  incomepm  cancerstages  Smoking
224   46     60000             1        1
168   35     30000             3        1
261   53     70000             2        1
161   43     40000             2        0
79    19     70000             4        1
127   39     30000             1        0
146   43     40000             2        1
174   41     40000             3        1
134   31     30000             2        1
51    30     40000             2        0
268   60     70000             2        1
189   41     40000             3        0
11    29     35000             1        1
102   29     80000             4        0
59    25     40000             3        1
123   35     30000             1        0
107   34     30000             1        1
217   39     30000             4        0
202   39     30000             4        1
169   36     30000             3        1
105   32     30000             1        1
12    30     35000             1        1
18    23     30000             1        0
259   51     70000             2        1
230   52     70000             1        1
27    19     35000             2        1
132   44     40000             1        0
265   57     70000             2        1
172   39     30000             3        1