In [10]:
import pandas as pd
import xlrd

In [11]:
df = pd.read_csv('policy.csv')

In [12]:
df

     id   age  incomepm  cancerstages  Smoking  insurance
0      1   18     30000             1        1    1000000
1      2   19     30000             1        1    1000000
2      3   20     30000             1        1    1000000
3      4   21     30000             1        1    1000000
4      5   22     30000             1        1    1000000
5      6   23     30000             1        1    1000000
6      7   24     30000             1        1    1000000
7      8   25     30000             1        1    1000000
8      9   26     35000             1        1    1000000
9     10   27     35000             1        1    1000000
10    11   28     35000             1        1    1000000
11    12   29     35000             1        1    1000000
12    13   30     35000             1        1    1000000
13    14   18     30000             1        0    2000000
14    15   19     30000             1        0    2000000
15    16   20     30000             1        0    2000000
16    17   21     30000             1        0    2000000
17    18   22     30000             1        0    2000000
18    19   23     30000             1        0    2000000
19    20   24     30000             1        0    2000000
20    21   25     30000             1        0    2000000
21    22   26     35000             1        0    2000000
22    23   27     35000             1        0    2000000
23    24   28     35000             1        0    2000000
24    25   29     35000             1        0    2000000
25    26   30     35000             1        0    2000000
26    27   18     35000             2        1     500000
27    28   19     35000             2        1     500000
28    29   20     35000             2        1     500000
29    30   21     35000             2        1     500000
..   ...  ...       ...           ...      ...        ...
254  255   46     60000             2        1     300000
255  256   47     60000             2        1     300000
256  257   48     60000             2        1     300000
257  258   49     60000             2        1     300000
258  259   50     70000             2        1     300000
259  260   51     70000             2        1     300000
260  261   52     70000             2        1     300000
261  262   53     70000             2        1     300000
262  263   54     70000             2        1     300000
263  264   55     70000             2        1     300000
264  265   56     70000             2        1     300000
265  266   57     70000             2        1     300000
266  267   58     70000             2        1     300000
267  268   59     70000             2        1     300000
268  269   60     70000             2        1     300000
269  270   46     60000             2        0     500000
270  271   47     60000             2        0     500000
271  272   48     60000             2        0     500000
272  273   49     60000             2        0     500000
273  274   50     70000             2        0     500000
274  275   51     70000             2        0     500000
275  276   52     70000             2        0     500000
276  277   53     70000             2        0     500000
277  278   54     70000             2        0     500000
278  279   55     70000             2        0     500000
279  280   56     70000             2        0     500000
280  281   57     70000             2        0     500000
281  282   58     70000             2        0     500000
282  283   59     70000             2        0     500000
283  284   60     70000             2        0     500000

[284 rows x 6 columns]

In [13]:
df.columns

Index(['id ', 'age', 'incomepm', 'cancerstages', 'Smoking', 'insurance'], dtype='object')

In [18]:
X = df[['age', 'incomepm', 'cancerstages', 'Smoking']]

In [19]:
y = df['insurance']

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1)

In [27]:
from sklearn.linear_model import LinearRegression

In [30]:
model = LinearRegression()
model.fit(X_train, y_train)
model.predict([[22,10000,3,1]])

array([510682.51648163])

In [29]:
model.score(X_test, y_test)

0.7642432925578235

In [31]:
from sklearn.ensemble import RandomForestRegressor
rfr = RandomForestRegressor()
rfr.fit(X_train, y_train)
rfr.predict([[22,10000,3,1]])

array([200000.])

In [32]:
rfr.score(X_test, y_test)

0.9973746518105849

In [34]:
from sklearn.svm import SVR
svr = SVR()
svr.fit(X_train, y_train)
svr.predict(X_test)

array([499997.75068018, 500001.63625161, 499997.01296766, 500001.13346359,
       499999.10931068, 499998.8666683 , 499999.89942527, 500000.88540898,
       500002.29768139, 500001.15897723, 499998.54488922, 499998.36194851,
       500004.73566106, 500001.90503832, 500000.77440563, 500001.4204747 ,
       499995.07271002, 500003.17120724, 500002.59660399, 500001.19711781,
       500001.0870091 , 500000.94761022, 499997.21946891, 500001.80444857,
       499997.90989663, 499996.69754822, 500001.46470241, 499998.62107586,
       500005.33977961])

In [35]:
svr.score(X_test, y_test)

-0.0021663104630269547